<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .a {
            width: 100px;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .b {
            width: 100px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;   /* 子元素垂直排列 */
            -webkit-line-clamp: 3;          /* 可以显示的行数，超出部分用...表示 */
        }
    </style>
</head>
<body>
    <div class="a">
        你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
    </div>
    <div class="b">
        你好你好你好你好你好你好你好你好你好你好你好你好你好你好
        你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
    </div>
</body>
</html>
